<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Quora Posts</h1>
        <% for(let post of posts){ %>
            <div class="content">
                <hr>
                <h3 class="user">Username@<%=post.username%></h3>
                <h5>Age : <%= post.age %></h5>
                <h5>Height : <%= post.height %></h5>
                <h5>Profession : <%= post.profession %></h5>
                <h2>Content : <%= post.content %></h2>
                <button><a href="http://localhost:2020/posts/<%= post.id%>">See in detail</a></button>
            </div>
            <% } %>
            <hr><br>
            <button><a href="http://localhost:2020/post/new">Create new post</a></button>
</body>
</html>